<h1>New Question</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :question %>
  <%= f.text_field :question, placeholder: "New Question", class: "form-control", required: "true" %>
  <%= f.submit class: "btn btn-primary"%> 
<% end %>
